.align-left {
    margin-left: 5.2rem;
}

#test-no {
    font-weight: 80;
}

#test-1 {
    margin-left: 1.5rem;
    font-weight: 80;
}

#test-2 {
    margin-left: 1.1rem;
    font-weight: 80;
}

#test-3 {
    margin-left: .6rem;
    font-weight: 80;
}

#total {
    margin-left: 0rem;
    font-weight: 80;
}

#pct {
    margin-left: .3rem;
    font-weight: 80;
}