.align-right {

    .menu-buttons-group {
        float: right;

        .m-button {
            margin-left: 1rem;
            font-size: small;
        }

        .round {
            border-radius: 24px;
            height: 2.4rem;
            color: rgb(255, 255, 255);
            font-size: small;
        }

        .bg-color-hover:hover {
            color: #000;
        }

        #new-button,
        #edit-button {
            width: 8rem;
            background: rgb(22, 187, 223);
        }

        #print-button {
            width: 10rem;
            background: rgb(22, 187, 223);
        }

        #del-button {
            width: 8rem;
            background-color: rgb(226, 88, 34)
        }


    }
}