#pdf-title {
    padding: 0;
    margin: 0;
    text-align: center;
}

#test-data {
    text-align: right;
}

#grower,
#company {
    margin-left: 1rem;
    border: 0px;
    border-bottom: 2px solid #eee;
}

#comp-label {
    margin-left: 2rem;
}