:root {
    --hgo-color: rgba(255, 255, 255, .1);
    --hgo-bckgrnd: rgb(30, 88, 30);
    --hgo-hover: rgb(36, 54, 41);
    --hgo-white: rgb(245, 245, 245);
    --hgo-blue: rgb(22, 187, 223);
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}