#modalTitle {
    color: #000;
    text-align: center;
    padding: 1rem;
}

.button-design {
    border-radius: 24px;
    width: 5rem;
    padding: 5px;
    font-size: small;
    border-style: none;
    appearance: none;
}


#proceed,
#cancel {
    color: var(--hgo-white);
    background: var(--hgo-blue);
}