#modalTitle {
    color: #000;
    text-align: center;
    padding: 1rem;
}

.button-design {
    border-radius: 24px;
    padding: 5px;
    font-size: small;
    border-style: none;
    appearance: none;
    color: var(--hgo-white);
    background: var(--hgo-blue);
}

#pdf-message {
    font-size: small;
    font-weight: 700;
    color: rgb(5, 50, 148)
}

#generate-report {
    width: 8rem;
}

#cancel {
    width: 5rem;
}